body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
}
nav{
  background-color: #242424;
  color: #fff;
  height: 40px;
  margin: 0;
  margin-bottom: 5px;
}
.top-nav{
  display: flex;
}
.top-nav ul{
  display: flex;
  margin-left: 10%;
}
.top-nav li {
  padding-left: 50px;
  text-align: center;
}
.top-nav input {
  background-color: #242424;
  color: white;
}
nav:input{
  background-color: #242424;
  color: #fff;
}
.nav-2{
  background-color: white;
  text-align: center;
  margin: 30px;
}
.nav-2 a {
  color: #444;
  padding-left: 20px;
  padding-bottom: 10px;
}
.active{
  border-bottom: 3px solid orange;
}
.new{
  background-color: green;
  color: white;
  width: 80px;
  border: none;
}
.options{
  text-align: center;
}
.split {
  display: flex;
  margin-top: 100px;
}
img{
  width: 55%;
  border-radius: 100px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  display: inline;
}

aside{
  width: 30%;
  height: 100%;
}
h2{
  font-size: 1rem;
}
p{
  font-size: 1rem;
  display: inline-block;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: #2668CF;
  font-size: 1rem;
}
button{
  text-align: center;
  width: 150px;
  font-size: .8rem;
}
.repo-list{
  text-align: center;
  list-style: none;
}
div{
  text-align: left;
}
.repo-lang-d{
  display: flex;
}
.orgs{
  width: 40px;
}
